/* CNPS Calkylator Stylesheet */
@font-face {
	font-family: 'Trim';
	src:  	url('TrimWeb/Trim-Regular.woff2') format('woff2'),
			url('TrimWeb/Trim-Regular.woff') format('woff');
	font-weight: normal;
}

@font-face {
	font-family: 'Trim';
	src:  	url('TrimWeb/Trim-Medium.woff2') format('woff2'),
			url('TrimWeb/Trim-Medium.woff') format('woff');
	font-weight: bold;
}


* {
	font-family: "Trim", sans-serif; 

}

html, body {
	height: 100%;
}

h1, h2, h3 {
	font-weight: bold; 
}

a {
	text-decoration: none; 
	color: #000;
}

body {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0; 
}

body > * {
	flex-shrink: 0;
}

header {
	display: flex;
	width: 100%;
	background: #fff; 
	border-bottom: solid 1px #f2f2f2; 
	height: 60px;
	float: left; 
}

.content {
	flex-grow: 1;
}

footer {
	background: #5a5a5a; 
	width: 100%;
}

footer .content {
	overflow: hidden; 
	padding: 20px 30px;
}

footer img {
	width: 100px;
}

.left, .right {
	float: left; 
	text-align: left;
	width: 49%; 
}

.right {
	text-align: right;
}

.right #report {
	display: none; 
}

.left h1 {
	color: #02AD8C;
}

/* --- MENU --- */

nav ul { 
	margin: 0;
	padding: 0;  
}

nav ul li {
	list-style-type: none; 
}

nav ul li a {
	font-weight: bold;
}

#menu li {
	padding: 20px 0px; 
}

#menu li:hover {
	background: #ddd; 
}
#menu li:hover a {
	color: #fff;
}

.toggled #menu {
	transform: translateY(0);
	height: auto;
}

#menu {
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	box-sizing: border-box;
	background: #f2f2f2; 
	z-index: 1; 
	width: 100%;
	text-align: center;
	font-weight: bold;
	font-size: 12pt; 
	transform: translateY(-100%);
	transition: transform .3s ease-in;
	height: 0;
}

.hmenu {
	margin-top: 20px;
	padding: 0px 30px;
}

nav button {
	position: absolute;
	right: 20px;
	top: 10px;
  	font-size: 20pt; 
 	border: 0;
 	outline: none; 
 	background: none; 
 	font-weight: bold;
  	cursor:pointer;
  	z-index: 10;
}

nav #cross {
	display: none; 
	top: -5px;
	font-size: 60pt;
}

/* --- CONTENT --- */

.content {
	overflow: hidden;
	margin: 0 auto;
	width: 100%;
	padding: 0px 30px;
	box-sizing: border-box;
}

/* --- CALCULATOR --- */
.step1, .step2 {
	margin-bottom: 30px; 
}

.label {
	text-align: right; 
	padding: 7px 7px; 
	color: #fff;
	width: 30px;
	height: 20px; 
	float: left; 
}

.s {
	background: #ddd; 
	text-align: center; 
}

.step1 input, .step2 input, .result input {
	padding: 6px 10px;
	font-size: 12pt; 
	text-align: right;
	height: 20px;
	border-top: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-left: 0px;
	border-bottom: 1px solid transparent;
}

.q {
	cursor: help; 
}

.r {
	background: #ff5555; 
}

.y {
	background: #ffbf0D; 
}

.g {
	background: #02AD8C; 
}

#g {
	border-bottom: 1px solid #ddd;
}

#result {
	border-bottom: 1px solid #ddd; 
	width: 142px;
}

.cnps {
	width: 60px; 
	text-align: center; 
	background: #ddd; 
}

#sum {
	color: #ddd;
	border-bottom: 1px solid #ddd;
}

#clear {
	padding: 7px 10px;
	background: #a4cddd;
	color: #fff;
	border-radius: 5px; 
	text-align: center; 
	cursor: pointer;
	max-width: 40px; 
	margin-bottom: 30px; 
}

#clear:hover {
	background: #479dbf;
}

#text {
	font-size: 10pt; 
	width: 270px;
	line-height: 14pt;
	margin-top: 10px;  
	margin-bottom: 30px; 
	color: #aaa;
}

#download {
	color: #a4cddd;
	font-weight: bold; 
}

#download:hover {
	color: #479dbf;
}

/* --- Form --- */

form {
	display: block; 
	margin-top: 50px;
	margin-bottom: 150px; 
	width: 300px; 
}

input, textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

form input {
	width: 300px;
	padding: 6px 10px;
	font-size: 12pt;
	margin: 5px 0px;
	border: 1px solid #ddd;
	border-radius: 2px;  
}

#send {
	background: #02AD8C;  
	margin-top: 20px; 
	width: 100px;
	border: 1px solid #02AD8C;
	border-radius: 5px; 
	color: #fff;
	cursor: pointer;
}

#send:hover {
	border: 1px solid #02AD8C;
	background: #fff; 
	color: #02AD8C;
}

#send:active {
	border: 3px solid #02AD8C;
}

#message {
	display: none;
}

.right #report {
	width: 90%;
}

.h {
	height: 550px;
}

@media (min-width: 640px) {

	.hmenu { 
		padding: 0px 60px;
	}

	nav button {
		position: absolute;
		right: 40px;
	}

	.content {
		padding: 40px 60px;
	}

	.step1, .result{
		float: left; 
	}

	.step1 {
		margin-right: 30px; 
	}

	#clear {
		float: left; 
	}

	.right #report {
		margin: 40px auto;
		width: 70%;
		display: block;
	}

	footer .content {
		padding: 20px 60px;
	}

	footer img {
 		width: 100px;
	}
}

@media (min-width: 928px) {

	/* --- MENU --- */

	header {
		justify-content: center;
	}

	#menu,
	#menu.toggled {
		position: static;
		transform: translateY(0);
	}

	#menu {
		background: transparent;
		display: block !important;
		width: 900px;
		height: auto;
	}

	.space {
		margin-top: 10px;
	}

	.hmenu {
		display: none; 
	}

	#menu ul {
		padding: 0;  
	}

	#menu li {
		float: left; 
		margin-right: 50px;
		padding: 10px 0px; 
	}

	#menu li:hover {
		background: #fff; 
	}

	#menu li:hover a {
		color: #02AD8C;
	}


	/* --- CONTENT ---*/

	.content {
		width: 900px;
		padding: 40px 0px; 
	}
	
	.step1, .step2 {
		margin-right: 30px; 
	}
	
	.step1, .step2, .result {
		float: left; 
	}

	.right #report {
		margin-top: 30px;
		width: 60%;
	}

	footer .content {
		padding: 20px 0px;
	}

	footer img {
 		width: 100px;
	}

	.hs {
		height: 550px;
	}

	form {
		margin-top: 50px;
	}
	
}

@media (min-width: 1500px) {

	#menu {
		width: 1100px;
		font-size: 14pt;
	}

	.content {
		width: 1100px;
		padding: 100px 0px;
	}

	p {
		font-size: 14pt; 
	}

	.step1 input, .step2 input, .result input {
		padding: 9px 15px;
		font-size: 13pt; 
		text-align: right;
		height: 30px;
		width: 240px;
		border-top: 2px solid #ddd;
		border-right: 2px solid #ddd;
		border-left: 0px;
		border-bottom: 2px solid transparent;
	}

	.step1, .step2 {
		margin-right: 60px;
	}

	.label {
		padding: 16px;
	}

	h2 {
		font-size: 22pt; 
	}

	footer {
		height: 200px;
	}

	footer .content {
		padding: 40px 0px;
	}

	footer img {
		width: 40%;
	}

	/* --- Send report --- */

	form input {
		font-size: 14pt; 
		padding: 9px 15px;
	}

}