/* CNPS Calkylator Stylesheet */
* {
	font-family: "Roboto", sans-serif; 

}

a {
	text-decoration: none; 
	color: #000;
}

body {
	margin: 0;
	padding: 0; 
}

header {
	width: 100%;
	background: #fff; 
	border-bottom: solid 1px #f2f2f2; 
	height: 60px;
	float: left; 
}

footer {
	background: #5a5a5a; 
	width: 100%;
	height: 140px; 
}

footer .content {
	overflow: hidden; 
	padding: 20px 30px;
}

footer img {
	width: 100px;
}

.left, .right {
	float: left; 
	text-align: left;
	width: 49%; 
}

.right {
	text-align: right;
}

.right #report {
	display: none; 
}

/* --- MENU --- */

nav ul { 
	margin: 0;
	padding: 0;  
}

nav ul li {
	list-style-type: none; 
}

#menu li {
	padding: 20px 0px; 
}

#menu li:hover {
	background: #ddd; 
}
#menu li:hover a {
	color: #fff;
}

.toggled #menu {
	transform: translateY(0);
	height: auto;
}

#menu {
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	box-sizing: border-box;
	background: #f2f2f2; 
	z-index: 1; 
	width: 100%;
	text-align: center;
	font-weight: 500;
	font-size: 12pt; 
	transform: translateY(-100%);
	transition: transform .3s ease-in;
	height: 0;
}

.hmenu {
	margin-top: 20px;
	padding: 0px 30px;
}

nav button {
	position: absolute;
	right: 20px;
	top: 10px;
  	font-size: 20pt; 
 	border: 0;
 	outline: none; 
 	background: none; 
 	font-weight:bold;
  	cursor:pointer;
  	z-index: 10;
}

nav #cross {
	display: none; 
	top: -5px;
	font-size: 60pt;
}

/* --- CONTENT --- */

.content {
	overflow: hidden;
	margin: 0 auto;
	width: 100%;
	padding: 0px 30px;
	box-sizing: border-box;
}

/* --- CALCULATOR --- */
.step1, .step2 {
	margin-bottom: 30px; 
}

.label {
	text-align: right; 
	padding: 7px 5px; 
	color: #fff;
	width: 35px;
	height: 20px; 
	float: left; 
}

.s {
	background: #ddd; 
	text-align: center; 
}

.step1 input, .step2 input, .result input {
	padding: 6px 10px;
	font-size: 12pt; 
	text-align: right;
	height: 20px;
	border-top: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-left: 0px;
	border-bottom: 1px solid transparent;
}

.q {
	cursor: help; 
}

.r {
	background: #ff5555; 
}

.y {
	background: #ffbf0D; 
}

.g {
	background: #02AD8C; 
}

#g {
	border-bottom: 1px solid #ddd;
}

#result {
	border-bottom: 1px solid #ddd; 
	width: 142px;
}

.cnps {
	width: 60px; 
	text-align: center; 
	background: #ddd; 
}

#sum {
	color: #ddd;
	border-bottom: 1px solid #ddd;
}

#clear {
	padding: 7px 10px;
	background: #a4cddd;
	color: #fff;
	border-radius: 5px; 
	text-align: center; 
	cursor: pointer;
	max-width: 40px; 
	margin-bottom: 30px; 
}

#clear:hover {
	background: #479dbf;
}

#text {
	font-size: 10pt; 
	width: 270px;
	line-height: 14pt;
	margin-top: 10px;  
	margin-bottom: 30px; 
	color: #aaa;
}

#download {
	color: #a4cddd;
	font-weight: 600; 
}

#download:hover {
	color: #479dbf;
}

/* --- Form --- */

form {
	margin-top: 50px;
	margin-bottom: 150px;  
}

form input {
	width: 300px;
	padding: 6px 10px;
	font-size: 12pt;
	margin: 5px 0px;
	border: 1px solid #ddd;
	border-radius: 2px;  
}

#send {
	background: #02AD8C;  
	margin-top: 20px; 
	width: 100px;
	border: 1px solid #02AD8C;
	border-radius: 5px; 
	color: #fff;
}

#send:hover {
	border: 1px solid #02AD8C;
	background: #fff; 
	color: #02AD8C;
}

.right #report {
	width: 90%;
}

.h {
	height: 550px;
}

@media (min-width: 640px) {

	.hmenu { 
		padding: 0px 60px;
	}

	nav button {
		position: absolute;
		right: 40px;
	}

	.content {
		padding: 40px 60px;
	}

	.step1, .result{
		float: left; 
	}

	.step1 {
		margin-right: 30px; 
	}

	#clear {
		float: left; 
	}

	.right #report {
		margin: 40px 20px;
		width: 70%;
		display: block;
	}

	footer .content {
		padding: 30px 60px;
	}

	footer img {
 		width: 100px;
	}
}

@media (min-width: 928px) {

	/* --- MENU --- */

	table {
		float: left; 
		max-width: 300px; 
	}

	#menu,
	#menu.toggled {
		position: static;
		transform: translateY(0);
	}

	#menu {
		background: transparent;
		display: block !important;
		width: 900px;
		height: auto;
	}

	.space {
		margin: 10px 200px;
	}

	.hmenu {
		display: none; 
	}

	#menu ul {
		padding: 0;  
	}

	#menu li {
		float: left; 
		margin-right: 50px;
		padding: 10px 0px; 
	}

	#menu li:hover {
		background: #fff; 
	}

	#menu li:hover a {
		color: #02AD8C;
	}


	/* --- CONTENT ---*/

	.content {
		width: 900px;
		padding: 40px 0px; 
	}
	
	.step1, .step2 {
		margin-right: 30px; 
	}
	
	.step1, .step2, .result {
		float: left; 
	}

	.right #report {
		margin-top: 30px;
		width: 60%;
	}

	footer {
		height: 200px; 
	}

	footer .content {
		padding: 20px 0px;
	}

	footer img {
 		width: 100px;
	}

	.hs {
		height: 550px;
	}

	form {
		margin-top: 50px;
	}
	
}